.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
  height: 90vh;
}

body {
  background: lightblue url("./assets/background.jpeg") no-repeat fixed center;
}
* {
  box-sizing: border-box;
}

.imgContainer {
  max-height: 600px;
  max-width: 400px;
  margin: auto;
}

img {
  width: 100%;
  text-align: center;
}

.Header {
  display: flex;
  align-self: center;
  justify-content: right;
  height: 5vh;
  flex-wrap: wrap;
  font-size: 18px;
}

.Header button,
h5 {
  min-width: 50px;
  display: flex;
  align-self: center;
  margin: 5px;
}

.MainGame {
  background: lightblue;
  width: fit-content;
  padding: 25px;
  margin: auto;
  justify-content: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.FindLetter h3 {
  text-align: center;
}

.UserInput {
  font-size: 77px;

  max-width: 200px;
  min-height: 200px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.UserForm {
  display: flex;
  flex-direction: column;
  /* background-color: #61dafb; */
  padding: 20px;
}

.Feedback {
  display: flex;

  justify-content: center;
  flex-direction: column;
}

.Feedback div {
  display: flex;
  width: 100%;

  justify-content: center;
}
.Feedback:focus {
  border-radius: 30px;
  outline: none;
}

.Points {
  font-size: 26px;
  display: flex;
  flex-direction: row;
}

.Points button {
  margin-left: auto;
  margin-right: 5px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
